.flex-cascade
  display: flex
  *
    display: flex

.header
  align-items: center
  max-height: 100%
  justify-content: space-between
  height: 80px
  background-color: #d6caca
  div
    max-height: 100%
    align-items: stretch

.logo
  width: 100px


.menu > i
  align-items: center
  font-size: 35px

.teste
  color: red
  margin-left: 5px
