.cards-of-products
  .card
    margin-bottom: 8px
    display: flex
    justify-content: space-between

.card_content
  width: 100%

.card-actions
  display: flex
  justify-content: flex-end
  i
    margin-left: 8px
    cursor: pointer

mat-card-subtitle
  text-align: center

.card-title
  display: flex
  flex-direction: row
  justify-content: space-between
  background-color: #e1e4ff
  margin-bottom: 15px
  .card_content
    display: flex
    justify-content: center
