<button (click)=read()>Altualizar</button>

<h1>Produtos</h1>
<div class="cards-of-products">
  <mat-card *ngFor="let product of products" class="card mat-elevation-z4">
    <mat-card-title class="card_content" >{{product.name}}</mat-card-title>
    <mat-card-subtitle class="card_content" >{{product.price}}</mat-card-subtitle>
    <mat-card-actions class="card_content card-actions" >
      <i class="material-icons" (click)=update(product)>edit</i>
      <i class="material-icons" (click)=delete(product.id)>delete</i>
    </mat-card-actions>
  </mat-card>
</div>
