@import './app/style/cores.scss';
@import './app/style/flex.scss';
@import './app/style/theme-orange-dark.scss';
@import './app/style/theme-orange-light.scss';

.green {
  // background-color: rgba(0, 221, 55, 0.726);
  font-weight: 500;
  color: #ffffff;
  button {
    color: #FFF;
  }
}

.margin-8px {
  margin-right: 8px;
}


